* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/* html {
  font-family: "Montserrat", sans-serif;
} */
body {
  background: #eee;
  padding: 0 16px;
}

.todo {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.todo h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.todo p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.delete {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #cf142b;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background: #fff;

}