* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/* html {
  font-family: "Montserrat", sans-serif;
} */
body {
  background: #eee;
  padding: 0 16px;
}

.todo {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.todo h1 {
  font-size: 1.1em;
  margin: 8px 0;
}
.todo p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.delete {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #cf142b;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background: #fff;
}

.label {
  display: inline-block;
  background: #e6e6e6;
  border-radius: 7px;
}

.priority {
  float:right
}

header {
  background-color: #cf142b;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff
}

form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

select {
  appearance: none;
  margin: 10px;
  font-size: 16px;
  border: 1px solid #CCC;
  border-radius: 4px;
  height: 34px;
  text-align: center
}